:root {
    --site-color: #5f073a; /* Valeur par défaut */
}

.gray-bg {
    background-color: #f5f5f5;
}

html,
.body-base {
    height: 100% !important;
}

.darkblue-bg {
    background-color: var(--site-color);
}

.body-base {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}


.margin-contain {
    margin-top: 135px !important;
}

.margin-footer {
    margin-top: 50px !important;
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.turtle-background {
    height: 100% !important;
    width: 100% !important;
    background: url("/images/Turtle_ConnexionView.png") no-repeat center center !important;
    background-size: cover !important;
}

.connexion-card{
    background-color: #f5f5f5e5 !important;
    border-radius: 2rem !important;
}

.margin-right{
    margin-right:25px;
}