.gray-bg {
    background-color: #f5f5f5;
}

html,
.body-base {
    height: 100% !important;
}

.darkblue-bg {
    background-color: #005C8F !important;
}

.body-base {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}


.margin-contain {
    margin-top: 135px !important;
}

.margin-footer {
    margin-top: 50px !important;
}

.turtle-background {
    height: 100% !important;
    width: 100% !important;
    background: url("/images/Turtle_ConnexionView.png") no-repeat center center !important;
    background-size: cover !important;
}

.connexion-card{
    background-color: #f5f5f5e5 !important;
    border-radius: 2rem !important;
}

table {
    width: 90%;
    border-collapse: collapse;
}

td{
    padding: 8px;
    border: 1px solid darkblue;
}

th {
    padding: 8px;
    border: 1px solid darkblue;
    font-weight: bold;
    text-align: center;
}

.session-date {
    font-weight: bold;
    background-color: #e6e4e4e5;
    font-size: 22px;
}

.skill{
    font-weight: bold;
}

.ability{
    text-decoration: underline;
}

thead {
    background-color: rgb(214, 117, 33);
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    table, thead, tbody, tr, td {
        display: block;
    }

    thead {
        display: none; 
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: left;
        position: relative;
        border: none;
    }
    .session-date {
        text-align: center;
        background-color: #c5bbbbe5;
    }

    .skill{
        text-align: center;
        font-size: 20px;
        color: #005C8F;
    }

    .eval{
        width: 50%;
        margin-right: 50%;
        padding: 5%;
    }

    td:before {
        content: attr(data-titre_colonne);
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
    }

}