:root {
    --site-color: #1aff75; /* Valeur par défaut */
}

.gray-bg {
    background-color: #f5f5f5;
}

html,
.body-base {
    height: 100% !important;
}

.darkblue-bg {
    background-color: var(--site-color);
}

.darkblue-text {
    color: var(--site-color);
}
.body-base {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}


.margin-contain {
    margin-top: 135px !important;
}

.margin-footer {
    margin-top: 50px !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.turtle-background {
    height: 100% !important;
    width: 100% !important;
    background: url("/images/Turtle_ConnexionView.png") no-repeat center center !important;
    background-size: cover !important;
}

.connexion-card{
    background-color: #f5f5f5e5 !important;
    border-radius: 2rem !important;
}

.margin-right{
    margin-right:25px;
}

.divCarousel {
    height: 100%;
    padding: 0px;

    .carousel-inner {
        height: 100%;

        .carousel-item {
            height: 100%;
        }
    }

    .carousel-item img {
        height: 100%;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
    width: 30px; /* Largeur de l'icône */
    height: 30px; /* Hauteur de l'icône */
    border-radius: 50%; /* Forme circulaire */
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10; /* Assurez-vous que les boutons sont devant les autres éléments */
}

.range{
    display: flex !important;
    flex-direction: row  !important;
    justify-content: space-evenly !important;
    margin-bottom: 30px;
}


.rowRegistration{
    margin-left: 12% !important;
}

.secondColumn{
   margin-left: 12% !important;
}

.thirdColumn{
    margin-left: 12% !important;
}

.test{
     display: flex !important;
    flex-direction: row  !important;
    margin-bottom: 3%;
}

#TYPE_ID{
    width: 190px !important;
}
table {
    width: 90%;
    border-collapse: collapse;
}

td{
    padding: 8px;
    border: 1px solid darkblue;
}

th {
    padding: 8px;
    border: 1px solid darkblue;
    font-weight: bold;
    text-align: center;
}

.session-date {
    font-weight: bold;
    background-color: #e6e4e4e5;
    font-size: 22px;
}

.skill{
    font-weight: bold;
}

.ability{
    text-decoration: underline;
}

thead {
    background-color: rgb(214, 117, 33);
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.form-floating{
    margin-left: 2%;
    margin-bottom: 3%;
    width: 20%;
}

#result{
    margin-left: 5%;
}

@media (max-width: 768px) {
    table, thead, tbody, tr, td {
        display: block;
    }

    thead {
        display: none; 
    }

    tr {
        margin-bottom: 15px;
    }

    td {
        text-align: left;
        position: relative;
        border: none;
    }
    .session-date {
        text-align: center;
        background-color: #c5bbbbe5;
    }

    .skill{
        text-align: center;
        font-size: 20px;
        color: #005C8F;
    }

    .eval{
        width: 50%;
        margin-right: 50%;
        padding: 5%;
    }

    td:before {
        content: attr(data-titre_colonne);
        position: absolute;
        left: 10px;
        top: 10px;
        font-weight: bold;
    }

}
